<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047229691089-38m43rq0iisvdvtfimjp6c3tak0sd8e1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047229691089-38m43rq0iisvdvtfimjp6c3tak0sd8e1</string>
	<key>API_KEY</key>
	<string>AIzaSyCcCfT77Z6dc1vrhNBY0GqP95_fJ040Li8</string>
	<key>GCM_SENDER_ID</key>
	<string>1047229691089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doctorAi</string>
	<key>PROJECT_ID</key>
	<string>doctorai-35b03</string>
	<key>STORAGE_BUCKET</key>
	<string>doctorai-35b03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047229691089:ios:7a023495cc6cbde54d81f0</string>
</dict>
</plist>